.door-wrapper {
  margin: 3rem;
  transition: all 0.5s ease-in-out;
  width: 15rem;
  height: 14.15rem;
}
.text-container {
  position: absolute;
  padding: 0.1rem;
  font-size: 14px;
  line-height: 110%;
}

.door-wrapper:hover {
  // transform: scale(1.2);
}

.backDoor {
  background-color: #ddd;
  box-shadow: inset 2px 3px 3px #888;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
}

.doorInsideCover {
  transform: translate3d(0, 0, -1px);
  background-color: #aaa;
  cursor: pointer;
}

.doorHinge {
  width: 100%;
  height: 100%;
  transform-origin: left;
  transform-style: preserve-3d;
  transition: all 0.5s ease-in-out;
}

.doorHinge div {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.door {
  margin-top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-top: 2px dashed #333;
  border-right: 2px dashed #333;
  border-bottom: 2px dashed #333;
  background: brown url(/assets/kalender.png);
  background-size: 100% auto;
  background-repeat: repeat-y;
}

.door:before {
  content: attr(data-no);
  color: #fff;
  font-size: 60px;
  font-weight: bold;
  font-family: arial, sans-serif;
  text-shadow: 0 1px 2px #333;
}
.doorHinge:after {
  position: absolute;
  transform-origin: top left;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  width: 100%;
  height: 100%;
  content: '';
  opacity: 0.5;
  transform: skew(0deg, 0deg);
  left: 0;
  top: 0;
  z-index: -1;
  transform: skew(0deg, 0deg) perspective(1200px) translateZ(0px)
    translateX(0px) translateY(0px) rotateY(0deg);
  transition: all 0.5s ease-in-out;
}

.size1020 {
  width: 10%;
  height: 20%;
}
.size1025 {
  width: 10%;
  height: 25%;
}
.size0912 {
  width: 9%;
  height: 12%;
}

.doorOpen {
  transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px)
    rotateY(-105deg);
  border: none;
}
.doorOpen:after {
  transform: skew(0deg, 35deg) translateZ(0px) translateX(0px) translateY(0px)
    rotateY(50deg);
}

.doorClose {
  transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px)
    rotateY(-35deg);
  border: none;
}
.doorClose:after {
  transform: skew(0deg, 35deg) translateZ(0px) translateX(0px) translateY(0px)
    rotateY(50deg);
}
