<div class="door-wrapper">
  <div #door class="backDoor">
    <div style="position: absolute; padding: 3px" *ngIf="isOpen">
      {{ text }}
    </div>
    <div
      class="doorHinge"
      (click)="toggle()"
      [ngClass]="{'doorOpen': isOpen, 'doorClose': !isOpen && keepClose }"
      >
      <div class="doorInsideCover"></div>
      <div
        [attr.data-no]="no"
        class="door"
        [ngStyle]="{ 'background-position': backgroundPosition }"
      ></div>
    </div>
  </div>
</div>
