<div class="door-wrapper">
  <div #door class="backDoor">
    <div
      *ngIf="isOpen"
      class="text-container"
      style="display: flex; flex-direction: column; justify-content: space-around; text-align: center; height: 100%;"
    >
      <div *ngFor="let gewinn of tagesGewinne">
        <div *ngIf="gewinn.Losnummer > 0" style="color: brown;">
          <strong>Kalender {{ gewinn.Losnummer }}</strong>
        </div>
        <div>{{ gewinn.Beschreibung }}</div>
      </div>
    </div>
    <div
      class="doorHinge"
      (click)="toggle()"
      [ngClass]="{ doorOpen: isOpen, doorClose: !isOpen && keepClose }"
    >
      <div class="doorInsideCover"></div>
      <div
        class="door"
        [attr.data-no]="no"
        [ngStyle]="{
          'background-position': backgroundPosition,
          'background-size': backgroundWidthInPixel
        }"
      ></div>
    </div>
  </div>
</div>
