<div class="door-wrapper">
  <div #door class="backDoor">
    <div *ngIf="isOpen" class="text-container" [innerHTML]="content">
    </div>
    <div
      class="doorHinge"
      (click)="toggle()"
      [ngClass]="{ doorOpen: isOpen, doorClose: !isOpen && keepClose }"
    >
      <div class="doorInsideCover"></div>
      <div
        class="door"
        [attr.data-no]="no"
        [ngStyle]="{
          'background-position': backgroundPosition,
          'background-size': backgroundWidthInPixel
        }"
      ></div>
    </div>
  </div>
</div>
