<div style="display: flex; justify-content: space-between; align-items: baseline;">
  <h2 mat-dialog-title>Impressum</h2>
  <button mat-icon-button (click)="dismiss()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<mat-dialog-content>
  <div><strong>Lions Club Oldenburg Lappan</strong></div>
  <br />
  <div>Moltkestr. 7</div>
  <div>26122 Oldenburg</div>
  <div>Telefon: <a href="tel:+49-171-6877149">+49-171-6877149</a></div>
  <div>
    E-Mail:
    <a href="mailto:info@lions-oldenburg-lappan.de"
      >info@lions-oldenburg-lappan.de</a
    >
  </div>
  <div>Internet: http://www.oldenburger-adventskalender.de</div>
  <br />

  <div>Inhaltlich Verantwortlicher: Andreas Kuhlmann (Anschrift wie oben)</div>
  <div>
    Haftungshinweis: Trotz sorgfältiger inhaltlicher Kontrolle Übernehmen wir
    keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten
    Seiten sind ausschliesslich deren Betreiber verantwortlich.
  </div>
  <br />
  <a
    href="https://www.disclaimer.de/disclaimer.htm?farbe=FFFFFF/000000/000000/000000"
    >Haftungsausschluss</a
  >
</mat-dialog-content>
