<div class="header">
  Oldenburger Adventskalender 2021
</div>
<div class="grid-1">
  <div
    *ngFor="let day of days.adventDays; let i = index"
    [style.grid-area]="'d' + (i + 1)"
  >
    <door [flipped]="day.flipped" (click)="flip(day)">
      <div class="flash-card-front">{{ day.front }}</div>
      <div class="flash-card-back">{{ day.content }}</div>
    </door>
  </div>
  <div class="picture">
  </div>
  </div>
<div class="snowflakes" aria-hidden="true">
  <div class="snowflake">❅</div>
  <div class="snowflake">❆</div>
  <div class="snowflake">❅</div>
  <div class="snowflake">❆</div>
  <div class="snowflake">❅</div>
  <div class="snowflake">❆</div>
  <div class="snowflake">❅</div>
  <div class="snowflake">❆</div>
  <div class="snowflake">❅</div>
  <div class="snowflake">❆</div>
  <div class="snowflake">❅</div>
  <div class="snowflake">❆</div>
</div>
