<mat-toolbar color="primary">
  <img style="height: 2.8em; margin-left: .5em; margin-right: 1em;" src="/assets/lions.png" alt="Lions Club" />

  <span>Oldenburger Adventskalender</span>

  <span class="example-spacer"></span>

  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="openAddContactDialog()">New Contact</button>
    <button mat-menu-item (click)="toggleTheme.emit()">Toggle theme</button>
    <button mat-menu-item (click)="toggleDir.emit()">Toggle dir</button>
  </mat-menu>
</mat-toolbar>
