<h2 mat-dialog-title>Wer steht dahinter?</h2>
<mat-dialog-content>
  <div>Es sind die Fördervereine des Lions Clubs Oldenburg Lappan und des Lions Clubs Oldenburg Willa Thorade mit Unterstützung des Leo Clubs Oldenburg, die sich gemäß der 1917 in Chicago gegründeten Lions Service-Organisation das allgemeine Ziel gesetzt haben, Nächstenliebe und Gemeinsinn auf regionaler Ebene zu pflegen und fördern. Mit unterschiedlichsten Aktivitäten engagieren sich die Mitglieder von Lions und Leos, um dort zu helfen, wo Hilfe benötigt wird und sinnvoll ist. Mehr Infos im Internet unter http://www.leo-clubs.de oder http://www.lions.de.</div>
  <br>
  <strong>Leo-Club Oldenburg:</strong>
  <div>Die Mitglieder des Leo-Clubs Oldenburg im Alter zwischen 16 und 28 Jahren engagieren sich vor allem für Einrichtungen für Kinder und Jugendliche.
  <a href="https://www.leo-clubs.de" target="_blank">https://www.leo-clubs.de</a> oder <a href="https://www.lions.de" target="_blank">https://www.lions.de</a></div>
  <br>
  <strong>Lions-Club Oldenburg Willa Thorade</strong>

  <div>Der Lions-Club Willa Thorade ist der einzige Damenclub in Oldenburg und besteht seit Mai 2002. Die Frauen engagieren sich für Frauen- und Kinderprojekte. So wurde dank einer Spende ein Aufenthaltsraum im Altenzentrum "Bischof Stählin" renoviert.</div>
  <br>

  <strong>Lions-Club Oldenburg Lappan</strong>

  <div>Der Lions-Club Oldenburg Lappan wurde 1975 gegründet. Der Club unterstützt neben vielen Einzelprojekten seit Jahren die "Oldenburger Tafel".</div>

</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button color="primary" (click)="dismiss()">
    <mat-icon>check</mat-icon> Ok
  </button>
</mat-dialog-actions>
