<h2 mat-dialog-title>Förderer</h2>
<mat-dialog-content>
  <span
    >An dieser Stelle möchten wir uns bei allen nachfolgend genannten Förderern
    ganz herzlich bedanken!</span
  >
  <br />
  <br />

  <strong>Der Verkauf:</strong>
  <br />
  <br />
  <span>Ein großes Dank an unsere Verkaufsstellen, welche da wären:</span>
  <br />
  <ul>
    <li>Voigt, Bloherfelder Str. 242-244</li>
    <li>Brillen Hess, Hauptstraße 61</li>
    <li>Bruns Männermoden, Haarenstraße 57-60</li>
    <li>Buchhandlung Thye, Schlossplatz 21-23</li>
    <li>D'OR Galerie und Goldschmiede, Herbartgang</li>
    <li>Florian Isensee GmbH, Haarenstraße 20</li>
    <li>Hankens Haaren Apotheke, Haarenstr. 38</li>
    <li>Hankens Apotheke in den Höfen, Grüne Straße 10</li>
    <li>Hankens Hansa Apotheke, Alter Postweg 125</li>
    <li>Hankens Alexander Apotheke, Alexanderstraße 125</li>
    <li>Humanitas AmbulanteKrankenpflege, Nobelstraße 1</li>
    <li>Löschau, Melkbrink 15</li>
    <li>Marien-Apotheke,Marienstraße 1</li>
    <li>Nölker & Nölker Teehandel, Mottenstraße 2</li>
    <li>Oldenburger Wohngarten, Stubbenweg 29</li>
    <li>Onken für's Büro, Lange Straße 62</li>
    <li>Optiker Schulz, Achternstraße 30/31</li>
    <li>Piano Rosenkranz, Mottenstraße 8-9</li>
    <li>Scharmann`s Haarenstraße 43</li>
    <li>Sonnen-Apotheke, Eichenstraße 17</li>
    <li>Stadtbäckerei - Jan Schröder, Lange Straße 31</li>
    <li>
      sowie diverse weitere spontan helfende Einzelunternehmer und Freunde
      unserer Clubs.
    </li>
  </ul>
  <strong>Die Sponsoren</strong>
  <br />
  <br />
  <span>Wir danken den Sponsoren, ohne die der Adventskalender nicht möglich wäre (in alphabetischer Reihenfolge):</span>
  <ul>
    <li>Autohaus Frank Voigt, Bloherfelder Str. 242-244</li>
    <li>Bäckerei Janssen, Scharreler Damm 11</li>
    <li>Badgestalten GmbH, Bloherfelder Straße 106</li>
    <li>Beauty Concept by Stefanie Junghans, Donnerschweer Straße 57</li>
    <li>Brillen Hess, Hauptstraße 61</li>
    <li>bruns Berufsmoden, Posthalterweg 17</li>
    <li>bruns Männermoden, Haarenstraße 57-60</li>
    <li>bruns Männermode "camel-store", Haarenstraße 57-60</li>
    <li>Buch Brader, Haarenstraße 8</li>
    <li>Buchhandlung Thye, Schlossplatz 21-23</li>
    <li>Cassens GmbH & Co. KG., Bremer Heerstraße 460</li>
    <li>CEWE Stiftung & CO. KGaA, Meerweg 30-32</li>
    <li>COMMERZIAL TREUHAND GmbH, Wilhelmshavener Heerstraße 79</li>
    <li>Corpus Sport· und Gesundheitszentrum, Giesenweg 19</li>
    <li>D'OR Galerie und Goldschmiede, Herbartgang</li>
    <li>Ev. Altenpflegeschule e.V. in Oldenburg, Artillerieweg 37</li>
    <li>Ev. Familien-Bildungsstätte Oldenburg, Haareneschstraße 58a</li>
    <li>Florian lsensee GmbH, Haarenstraße 20</li>
    <li>Gebäudereinigung Pu-Ma Cristallum, Bloherfelder Straße 20</li>
    <li>Gemeinnützige Werkstätten Oldenburg e.V., Rennplatzstraße 203</li>
    <li>GSG Bau· und Wohngesellschaft, Straßburger Straße 8</li>
    <li>GVO Versicherung, Osterstraße 15</li>
    <li>Hankens Apotheke in den Höfen, Grüne Straße 10</li>
    <li>Hankens Haaren Apotheke, Haarenstr. 38</li>
    <li>Hankens Hansa Apotheke, Alter Postweg 125</li>
    <li>Hankens Alexander Pharmacy, Alexanderstr. 125</li>
    <li>Humanitas Ambulante Krankenpflege, Nobelstraße 1</li>
    <li>Jürgen Hellmann GmbH Tragwerksplanung, Cloppenburger Straße 18</li>
    <li>Juwelier Aurum, Achternstraße 39</li>
    <li>Kaminland, Ofener Straße 50a</li>
    <li>Köhn & Plambeck, An der Braker Bahn 22</li>
    <li>La Vista Das Brillen Atelier, Gaststraße 28</li>
    <li>Landessparkasse zu Oldenburg (LzO), Berliner Platz 1</li>
    <li>Landwirtschaftskammer Niedersachsen, Mars-La-Tour-Straße 1-13</li>
    <li>laufrausch, Hauptstraße 28</li>
    <li>Löschau, Melkbrink 15</li>
    <li>Löschau Oldenburger Wohngarten, Stubbenweg 29</li>
    <li>Marien-Apotheke, Marienstraße 1</li>
    <li>Maritim proArte Hotel Berlin, Friedrichstraße 151, 10117 Berlin</li>
    <li>Michael Schmitz, Brasserie & Vinothek, Herbartgang 6</li>
    <li>Michael Stephan · Photograph, Haubentaucherring 13a</li>
    <li>Nölker & Nölker Teehandel, Mottenstraße 2</li>
    <li>Oldenburgisches Staatstheater, Theaterwall 28</li>
    <li>Onken, Lange Straße 62</li>
    <li>Optik im Jaguarhaus, Heiligengeistwall 8</li>
    <li>Optik am Haarenufer, lnh. Niko Bolle, Haarenufer 31</li>
    <li>Optiker Schulz, Achternstraße 30/31</li>
    <li>Park der Gärten gGmbH, Elmendorfer Straße 40, 26160 Bad Zwischenahn</li>
    <li>Piano Rosenkranz, Mottenstraße 8-9</li>
    <li>
      Ploß & Co. GmbH Gartenmöbel-Wohnmöbel, Sternwarder Landstraße 15, 22885
      Barsbüttel
    </li>
    <li>Rehabilitationszentrum GmbH, Brandenburger Straße 31</li>
    <li>Scharmann's, Haarenstraße 43</li>
    <li>
      Schmidt, Lauterbach & Partner Steuerberater, Brombeerweg 55, 26180 Rastede
    </li>
    <li>Sonnen-Apotheke, Eichenstraße 17</li>
    <li>Stadtbäckerei · Jan Schröder, Ammerländer Heerstraße 70</li>
    <li>Tecis Finanzdienstleistungen AG, Cloppenburger Straße 3</li>
    <li>Volksbank Oldenburg eG, Lange Straße 8-9</li>
    <li>Volkswagen Zentrum Oldenburg, Bremer Heerstraße 1</li>
    <li>wohnen + ideen, Herbartgang 12</li>
  </ul>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button color="primary" (click)="dismiss()">
    <mat-icon>check</mat-icon> Ok
  </button>
</mat-dialog-actions>
