<div style="display: flex; justify-content: space-between; align-items: baseline;">
  <h2 mat-dialog-title>Förderer</h2>
  <button mat-icon-button (click)="dismiss()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<mat-dialog-content>
  <span
    >An dieser Stelle möchten wir uns bei allen nachfolgend genannten Förderern
    ganz herzlich bedanken!</span
  >
  <br />
  <br />

  <strong>Der Verkauf:</strong>
  <br />
  <br />
  <span>Ein großes Dank an unsere Verkaufsstellen, welche da wären:</span>
  <br />
  <ul>
    <li>Voigt, Bloherfelder Str. 242-244</li>
    <li>Brillen Hess, Hauptstraße 61</li>
    <li>Bruns Männermoden, Haarenstraße 57-60</li>
    <li>Buchhandlung Thye, Schlossplatz 21-23</li>
    <li>D'OR Galerie und Goldschmiede, Herbartgang</li>
    <li>Florian Isensee GmbH, Haarenstraße 20</li>
    <li>Hankens Haaren Apotheke, Haarenstr. 38</li>
    <li>Hankens Apotheke in den Höfen, Grüne Straße 10</li>
    <li>Hankens Hansa Apotheke, Alter Postweg 125</li>
    <li>Hankens Alexander Apotheke, Alexanderstraße 125</li>
    <li>Humanitas AmbulanteKrankenpflege, Nobelstraße 1</li>
    <li>Löschau, Melkbrink 15</li>
    <li>Marien-Apotheke,Marienstraße 1</li>
    <li>Nölker & Nölker Teehandel, Mottenstraße 2</li>
    <li>Oldenburger Wohngarten, Stubbenweg 29</li>
    <li>Onken für's Büro, Lange Straße 62</li>
    <li>Optiker Schulz, Achternstraße 30/31</li>
    <li>Scharmann`s Haarenstraße 43</li>
    <li>Sonnen-Apotheke, Eichenstraße 17</li>
    <li>Vorwerk Gartenwelt, Oldenburger Straße 100 in Rastede</li>
    <li>
      sowie diverse weitere spontan helfende Einzelunternehmer und Freunde
      unserer Clubs.
    </li>
  </ul>
  <strong>Die Sponsoren</strong>
  <br />
  <br />
  <span>Wir danken den Sponsoren, ohne die der Adventskalender nicht möglich wäre (in alphabetischer Reihenfolge):</span>
  <ul>
    <li>Juwelier Aurum	Achternstraße 39, 26122 Oldenburg</li>
    <li>altera hotel und Michael Schmitz Brasserie	Herbartgang 23, 26122 Oldenburg</li>
    <li>Autohaus Frank Voigt	Bloherfelder Str. 242-244, 26129 Oldenburg</li>
    <li>Bäckerei Janssen	Scharreler Damm 11, 26188 Edewecht</li>
    <li>Beauty Concept by Stefanie Junghans	Donnerschweerstr. 57, 26123 Oldenburg</li>
    <li>Bettenhaus Uwe Heintzen GmbH,	Hauptstraße 109 , 26122 Oldenburg</li>
    <li>Brillen Hess	Hauptstraße 61, 26122 Oldenburg</li>
    <li>bruns Berufsmoden	Posthalterweg 17, 26129 Oldenburg</li>
    <li>bruns Männermode	Haarenstraße 57-60, 26122 Oldenburg</li>
    <li>bruns Männermode "camel-store"	Haarenstraße 57-60, 26122 Oldenburg</li>
    <li>Buch Brader	Haarenstraße 8, 26122 Oldenburg</li>
    <li>Buchhandlung Thye	Schlossplatz 21-23, 26122 Oldenburg</li>
    <li>Cassens GmbH&CoKG	Bremer Heerstraße 460, 26135 Oldenburg</li>
    <li>CEWE Stiftung & CO. KGaA	Meerweg 30 - 32, 26133 Oldenburg</li>
    <li>COMMERZIAL TREUHAND GmbH	Wilhelmsh.-Heerstraße 79, 26125 Oldenburg</li>
    <li>Corpus Sport-und Gesundheitszentrum	Giesenweg 19, 26133 Oldenburg</li>
    <li>Die Blumenbinder	Herbartgang 25, 26122 Oldenburg</li>
    <li>Dieter Krah, LC Oldenburg Lappan	Rastede</li>
    <li>D'OR Galerie und Goldschmiede	Herbartgang 11, 26122 Oldenburg</li>
    <li>EV. Altenpflegeschule e.V. in Oldenburg	Artillerieweg 37, 26129 Oldenburg</li>
    <li>Ev. Familien-Bildungsstätte Oldenburg	Haareneschstraße 58a, 26121 Oldenburg</li>
    <li>Florian Isensee GmbH	Haarenstraße 20, 26122 Oldenburg</li>
    <li>Gemeinnützige Werkstätten Oldenburg e. V.	Rennplatzstraße  203, 26125 Oldenburg</li>
    <li>GSG Bau- und Wohngesellschaft	Straßburger Straße 8, 26123 Oldenburg</li>
    <li>GVO Versicherung	Osterstraße 15, 26122 Oldenburg</li>
    <li>Hankens Alexander Apotheke	Alexanderstraße 125,  26121 Oldenburg</li>
    <li>Hankens Apotheke in den Höfen	Grüne Straße 10, 26121 Oldenburg</li>
    <li>Hankens Haaren Apotheke 	Haarenstraße 38, 26122 Oldenburg</li>
    <li>Hankens Hansa Apotheke	Alter Postweg 125, 26133 Oldenburg</li>
    <li>Heinrich v. d. Pütten	Gerhard-Stalling-Straße 51, 26135 Oldenburg</li>
    <li>Humanitas Ambulante Krankenpflege	Nobelstr. 1, 26129 Oldenburg</li>
    <li>Klosterschänke Hude	Von-Witzleben-Allee 3, 27798 Hude</li>
    <li>Köhn & Plambeck	An der Braker Bahn 22, 26122 Oldenburg</li>
    <li>La Vista Das Brillen Atelier	Gaststraße. 28, 26122 Oldenburg</li>
    <li>Landessparkasse zu Oldenburg (LzO)	Berliner Platz 1, 26123 Oldenburg</li>
    <li>Landwirtschaftskammer Niedersachsen	Mars-la-Tour-Straße 1-13, 26121 Oldenburg</li>
    <li>laufrausch	Hauptstraße 28, 26122 Oldenburg</li>
    <li>Löschau	Melkbrink 15, 26121 Oldenburg</li>
    <li>Löschau Oldenburger Wohngarten	Stubbenweg 29, 26125 Oldenburg</li>
    <li>Marien-Apotheke	Marienstraße 1, 26121 Oldenburg</li>
    <li>Maritim proArte Hotel Berlin	Friedrichstraße 151, 10117 Berlin</li>
    <li>Michael Stephan - Photograph	Haubentaucherring 13a, 26135 Oldenburg</li>
    <li>Nölker & Nölker Teehandel	Mottenstraße 2, 26122 Oldenburg</li>
    <li>Oldenburgisches Staatstheater	Theaterwall 28, 26122 Oldenburg</li>
    <li>Onken	Lange Straße 62, 26122 Oldenburg</li>
    <li>Optik am Haarenufer, Inh. Niko Bolle	Haarenufer 31, 26122 Oldenburg</li>
    <li>Optik im Jaguarhaus	Heiligengeistwall 8, 26122 Oldenburg</li>
    <li>Optiker Schulz	Achternstraße 30/31, 26122 Oldenburg</li>
    <li>Park der Gärten gGmbH	Elmendorfer Str.40, 26160 Bad Zwischenahn</li>
    <li>Piano Rosenkranz	Mottenstraße 8-9, 26122 Oldenburg</li>
    <li>Ploß & Co. GmbH Gartenmöbel-Wohnmöbel	Sternwarder Landstr. 15, 22885 Barsbüttel</li>
    <li>Rehabilitationszentrum GmbH	Brandenburger Straße 31, 26133 Oldenburg</li>
    <li>Ressel-Haus GmbH	Ammergaustraße 123 a, 26123 Oldenburg</li>
    <li>Scharmann`s	Haarenstraße 43, 26122 Oldenburg</li>
    <li>Schmidt, Lauterbach & Partner Steuerberater	Brombeerweg 55, 26180 Rastede</li>
    <li>Sonnen-Apotheke	Eichenstraße 17, 26131 Oldenburg</li>
    <li>Tecis Finanzdienstleistungen AG	Cloppenburger Straße 3, 26135 Oldenburg</li>
    <li>Volksbank Oldenburg eG	Lange Straße 8-9, 26122 Oldenburg</li>
    <li>Volkswagen Zentrum Oldenburg	Bremer Heerstraße 1, 26135 Oldenburg</li>
    <li>Vorwerk Gartenwelt	Oldenburger Str. 100, 26180 Rastede</li>
  </ul>
</mat-dialog-content>
