<div
  #container
  class="doors-container"
  (window:resize)="onResize(container)"
  (window:scroll)="onResize(container)"
  [style.min-height]="containerHeight"
>
  <door
    *ngFor="let tagesGewinne of days.gewinne;"
    [baseX]="containerXPosition"
    [baseY]="containerYPosition"
    [backgroundWidth]="containerWidth"
    [no]="tagesGewinne.Tag"
    [isOpen]="tagesGewinne.Gewinne[0].flipped"
    [tagesGewinne]="tagesGewinne.Gewinne"
    (click)="flip(tagesGewinne.Gewinne[0])"
  >
  </door>
</div>
<div class="snowflakes" aria-hidden="true">
  <div class="snowflake">❅</div>
  <div class="snowflake">❆</div>
  <div class="snowflake">❅</div>
  <div class="snowflake">❆</div>
  <div class="snowflake">❅</div>
  <div class="snowflake">❆</div>
  <div class="snowflake">❅</div>
  <div class="snowflake">❆</div>
  <div class="snowflake">❅</div>
  <div class="snowflake">❆</div>
  <div class="snowflake">❅</div>
  <div class="snowflake">❆</div>
</div>
