<div style="display: flex; justify-content: space-between; align-items: baseline;">
  <h2 mat-dialog-title>Wer bekommt die Erlöse aus der Adventskalender-Aktion?</h2>
  <button mat-icon-button (click)="dismiss()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<mat-dialog-content>
  <span
    >Der Reinerlös aus der diesjährigen Adventskalender-Aktion ist bestimmt
    für:</span
  >
  <ul>
    <li>
      die Lions-Präventionsangebote für Kinder und Jugendliche (Klasse 2000 oder
      Lions Quest) in Oldenburg und dem Oldenburger Umland"
    </li>

    <li>den Verein Lebenswunsch, der sich gemeinsam mit den Ehrenamtlichen der Hospiz- und Palliativarbeit in der Region dafür einsetzt, letzte Wünsche am Ende des Lebens zu realisieren</li>

    <li>die NWZ Weihnachtsaktion 2021</li>
  </ul>
</mat-dialog-content>
