<div style="display: flex; justify-content: space-between">
  <h2 style="word-wrap: normal" mat-dialog-title>Wer bekommt die Erlöse?</h2>
  <button
    mat-icon-button
    style="margin-top: 0.3em; margin-right: 0.3em"
    (click)="dismiss()"
  >
    <mat-icon>close</mat-icon>
  </button>
</div>
<mat-dialog-content>
  <span
    >Der Reinerlös aus der diesjährigen Adventskalender-Aktion ist bestimmt
    für:</span
  >
  <ul>
    <li>
      Lions-Präventionsangebote für Kinder und Jugendliche (Klasse 2000 und
      Lions Quest)
    </li>
    <li>in Oldenburg und dem Oldenburger Umland</li>
    <li>Kulturtafel Oldenburg e.V.</li>
    <li>Wildwasser Oldenburg e.V.</li>
    <li>Mädchenhaus Oldenburg e.V.</li>
    <li>Stiftung Hospizdienst Oldenburg</li>
    <li>NWZ Weihnachtsaktion 2024</li>
  </ul>
  <span>DAS KÖNNEN SIE GEWINNEN</span>
  <ul>
    <li style="list-style: none">
      Oldenburger Einzelhändler, Restaurants & Co stellen verschiedene
      Gutscheine für die Gewinner bereit. Vielen Dank an die großzügigen
      Sponsoren der Region, durch die der Oldenburger Adventskalender jedes Jahr
      möglich gemacht wird.
    </li>
  </ul>
  <span>DIE VERLOSUNG</span>
  <ul>
    <li style="list-style: none">
      7.000 Kalender werden bis zum 30. November 2024 für 5 € pro Stück
      verkauft. Jeder verfügt über eine individuelle Gewinnnummer auf der
      Vorderseite. Für jeden der gesponserten Preise wird eine gesonderte Nummer
      unter Ausschluss des Rechtsweges und unter notarieller Aufsicht gezogen.
    </li>
  </ul>
  <span>BEKANNTGABE & ABHOLUNG</span>
  <ul style="list-style: none">
    <li>
      Ob Sie gewonnen haben, erfahren Sie mit Ihrer Kalendernummer unter
      www.oldenburger-adventskalender.de oder jeden Samstag auf der
      Weihnachtsaktionsseite der NWZ. Ihren Gewinngutschein können Sie bis
      spätestens 01.02.2025 während der Öffnungszeiten in Hankens Haaren
      Apotheke, Haarenstraße 38 in 26122 Oldenburg abholen. Eine Barauszahlung
      der Gutscheine ist nicht möglich.
    </li>
  </ul>
  <span>5 EURO SIND IHNEN NICHT GENUG?</span>
  <div>Dann spenden Sie unter:</div>
  <ul>
    <li>
      Fördergesellschaft des LC Oldenburg Willa Thorade e.V., IBAN DE65 2802
      0050 1187 0128 01 (OLB)
    </li>
    <li>
      Fördergesellschaft des LC Oldenburg-Lappan, IBAN DE65 2805 0100 0012 1100
      11 (LZO)
    </li>
  </ul>
  <span>AUSSERDEM</span>
  <ul>
    <li style="list-style: none">
      Die Oldenburger Künstlerin Isabella Marquart hat das diesjährige Motiv
      Ihres Adventskalenders gestaltet. Die Galerie D`OR im Herbartgang in
      Oldenburg stellt das Originalbild in der Adventszeit aus. Gebote für den
      Erwerb des Kunstwerks werden dort entgegengenommen. Das höchste Gebot
      erhält den Zuschlag.
    </li>
  </ul>
  <span>DANKE,</span>
  <ul>
    <li style="list-style: none" >
      dass Sie die Projekte der Lions unterstützen. Wir wünschen Ihnen viel
      Glück bei der Verlosung und eine fröhliche Weihnachtszeit!
    </li>
  </ul>
</mat-dialog-content>
