<div style="display: flex; justify-content: space-between">
  <h2 style="word-wrap: normal;" mat-dialog-title>Wer bekommt die Erlöse?</h2>
  <button mat-icon-button style="margin-top: .3em; margin-right: .3em;" (click)="dismiss()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<mat-dialog-content>
  <span
    >Der Reinerlös aus der diesjährigen Adventskalender-Aktion ist bestimmt
    für:</span
  >
  <ul>
    <li>
      die Lions-Präventionsangebote für Kinder und Jugendliche (Klasse 2000 oder
      Lions Quest) in Oldenburg und dem Oldenburger Umland
    </li>
    <br>
    <li>Kulturtafel Oldenburg e.V.</li>
    <li>Elterninitiative krebskranker Kinder e.V.</li>
    <li>Verein BildungsChancen im Blick e.V.</li>
    <br>
    <li>die NWZ Weihnachtsaktion 2024</li>
  </ul>
</mat-dialog-content>
